{% extends 'base.html.twig' %}

{% block body %}
    <div class="selectlenguage">
        <ul>
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en'})) }}"><img class="imgflag" src="{{  asset('images/flagEN.jpg')}}" alt="uk"></a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'es'})) }}"><img class="imgflag" src="{{  asset('images/flagES.jpg')}}" alt="es"></a></li>
        </ul>
    </div>
    <div class="contact-form-center">
        <h3 class="title-page">{{ 'add_accounts'|trans }}</h3>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <table>
            <tr>
                <td>{{ form_label(form.name, 'name'|trans ) }}</td>
                <td>{{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.salesRepId1, 'responsable'|trans ) }}</td>
                <td>{{ form_widget(form.salesRepId1) }}
                    {{ form_errors(form.salesRepId1) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.accountTypes, 'account_type'|trans ) }}</td>
                <td>{{ form_widget(form.accountTypes) }}
                    {{ form_errors(form.accountTypes) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.address1, 'address'|trans ) }}</td>
                <td>{{ form_widget(form.address1) }}
                    {{ form_errors(form.address1) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.city, 'city'|trans ) }}</td>
                <td>{{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.postcode, 'post_code'|trans ) }}</td>
                <td>{{ form_widget(form.postcode) }}
                    {{ form_errors(form.postcode) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.phone, 'phone'|trans ) }}</td>
                <td>{{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.phone2, 'phone'|trans ) }}2</td>
                <td>{{ form_widget(form.phone2) }}
                    {{ form_errors(form.phone2) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.email, 'Email') }}</td>
                <td>{{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.website, 'Web') }}</td>
                <td>{{ form_widget(form.website) }}
                    {{ form_errors(form.website) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.comment,  'comment'|trans ) }}</td>
                <td>{{ form_widget(form.comment) }}
                    {{ form_errors(form.comment) }}</td>
            </tr>
        </table>

        <div>
            <a href="{{ path('add') }}">{{ form_widget(form.send, { 'label':  'add'|trans }) }}</a>
            <a href="{{ path('homepage') }}" class="btn btn-danger" role="button">{{ 'cancel'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
