{% extends 'base.html.twig' %}

{% block body %}
    <div class="selectlenguage">
        <ul>
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en'})) }}"><img class="imgflag" src="{{  asset('images/flagEN.jpg')}}" alt="uk"></a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'es'})) }}"><img class="imgflag" src="{{  asset('images/flagES.jpg')}}" alt="es"></a></li>
        </ul>
    </div>
    <h3>{{ 'list_accounts'|trans }}</h3>
    <p><strong>Ordenar por:</strong></p>
        {% if  origen == 1 %}
            <a class="orderby active" href="{{ path('homepageorder',{'order':1}) }}">{{ 'creation_date'|trans|upper }}</a>
            <a class="orderby" href="{{ path('homepageorder', {'order':2}) }}">{{ 'name'|trans|upper }}</a>
        {% elseif origen == 2 %}
            <a class="orderby" href="{{ path('homepageorder',{'order':1}) }}">{{ 'creation_date'|trans|upper }}</a>
            <a class="orderby active" href="{{ path('homepageorder', {'order':2}) }}">{{ 'name'|trans|upper }}</a>
        {% else %}
            <a class="orderby" href="{{ path('homepageorder',{'order':1}) }}">{{ 'creation_date'|trans|upper }}</a>
            <a class="orderby" href="{{ path('homepageorder', {'order':2}) }}">{{ 'name'|trans|upper }}</a>
        {% endif %}

    <a href="{{ path('add') }}" class="btn btn-primary btnCustom" role="button">{{ 'add'|trans }}</a>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>{{ 'name'|trans|upper }}</th>
            <th>{{ 'responsable'|trans|upper }}</th>
            <th>{{ 'creation_date'|trans|upper }}</th>
            <th>{{ "account_type"|trans|upper }}</th>
            <th>{{ 'address'|trans|upper }}</th>
            <th>{{ 'country'|trans|upper }}</th>
            <th></th>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.name }}</td>
                    <td>{{ account.salesRepId1.value }}</td>
                    <td>{{ account.dateCreated|date("m/d/Y") }}</td>
                    <td>{{ account.typeId.value }}</td>
                    <td>{% if account.address1 %}{{ account.address1 }}{% endif %}</td>
                    <td>{% if account.countryId %}{{ account.countryId.value }}{% endif %}</td>
                    <td>
                        <a href="{{ path('modify',{'id' : account.id}) }}" class="btn btn-warning" role="button">{{ 'modify'|trans }}</a>
                        <a href="{{ path('delete', {'id' : account.id}) }}" class="btn btn-danger" role="button">{{ 'delete'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <style>

    </style>
{% endblock %}
{% block stylesheets %}

{% endblock %}
